<form id="formModifyRole">
	<h1>Ingrese el email o el _id del usuario</h1>
	<div>
		<label for="email">
			<p>Email del usuario a modificar el rol</p>
		</label>
	</div>
	<div>
		<input type="email" name="email" id="email" placeholder="Email" />
	</div>
	<div>
		<label for="_id">
			<p>_id del usuario a modificar el rol</p>
		</label>
	</div>
	<div>
		<input
			type="text"
			name="_id"
			id="_id"
			placeholder="_id"
			default=" "
		/>
	</div>
	<button type="submit" class="btn btn-dark rounded-0">Modificar</button>
</form>

<script src="/js/admin/modifyRole.js"></script>